@charset "utf-8";
/* CSS Document */
#main{
	float:left;
	width:1000px;
	margin:20px 0;
	}
.border{
	background-color:#e4e3e3;
	}
.title{
	width:250px;
	font-size:16px;
	font-weight:normal;
	line-height:2em;
	margin-left:20px;
	border-bottom:2px solid #FFF;
	}

/*公司动态*/
#news{
	float:left;
	width:290px;
	height:212px;
	margin-left:5px;
	}
#news ul{
	float:left;
	margin:10px 0 0 30px;
	display:inline;
	}
#news ul li{
	width:210px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height:2em;
	list-style-image:url(../images/tb.jpg);
	border-bottom:1px dashed #999;
	}

/*葡萄酒*/
#wine{
	float:left;
	width:382px;
	height:212px;
	margin-left:14px;
	display:inline;}
#wine img{
	float:left;
	margin:15px 0 0 20px;
	}
#wine ul{
	float:left;
	margin:10px 0 0 20px;
	display:inline;
	}
#wine ul li{
	width:160px;
	line-height:2em;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	border-bottom:1px dashed #999;
	list-style-image:url(../images/tb.jpg);
	}
.bg1 span{ font-weight:normal;}
.bg2 span{ font-weight:normal;}
.bg1{
	width:378px;
	height:30px;
	background-image:url(../images/title1.jpg);
	}
.bg2{
	width:378px;
	height:30px;
	background-image:url(../images/title2.jpg);
	}
.style1{
	float:left;
	width:189px;
	height:30px;
	}
#title1{
	color:#f8f8f8;
	font-size:14px;
	font-weight:normal;
	}
#title2{
	color:#000000;
	font-size:14px;
	font-weight:normal;
	}
.name{
	line-height:2em;
	margin-left:75px;
	}
#title2 .name{ margin-left:65px;}

/*关于我们*/
#about{
	float:right;
	width:290px;
	height:212px;
	margin-right:5px;
	display:inline;
	}
#about img{
	margin:10px 0 0 30px;
	}
#about p{
	width:236px;
	margin-left:20px;
	text-indent:2em;
	line-height:2em;
	}



