@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
body{
	background:url(../images/bg.jpg) repeat-x;
	background-color:#cfcfcf;
	font-size:12px;
	}
.main{ float:left;width:1000px;margin-top:20px; padding-bottom:20px;}
#main2{background:#e4e3e3; margin-bottom:20px;}
#all{
	width:1000px;
	margin:0 auto;
	}
a{
	text-decoration:none;
	color:#000000;
	}
a:hover{
	color:#8a322a;
	}
a img{ border:0;}
#nav a:hover{
	color:#e2c892;
	}
#nav ul .pngFix{
	height:48px;
	background:url(../images/hover.png) no-repeat;	
	background-position:top center;
	}
#background{
	background:url(../images/top1.jpg) no-repeat;
	width:1000px;
	height:443px;
	}
#top{ float:left; width:1000px; height:115px;}
#logo{ float:left; margin-top:15px;}
#nav{
	width:1000px; float:left;
	height:48px;}
#nav a{
	text-decoration:none;
	color:#e9e9e9;}
#nav ul{ list-style:none;	margin:3px 0 0 7px;}
#nav ul li{
	float:left; font-size:18px;
	width:122px;
	text-align:center;
	padding-top:13px;
	}
#nav .nav_fg{
	width:1px;
	height:10px;
	margin-top:10px;
	background:url(../images/nav_fg.jpg);
	}
.dictionary-search{width:500px; float:right; margin-top:30px;}
.dictionary{ float:left;}
.search{ float:left;width:300px;margin-top:15px;}
.search-text{ float:left;}
.search-text form{ float:left;}
.s-t{ border:0;background:url(../images/search-text.jpg); width:203px; height:24px; padding-left:2px; float:left;}
.search-button{float:left;}
.place{ margin-top:20px; border-bottom:1px dashed #999; height:20px;}
/*页脚*/
.footer{
	background-image:url(../images/bottom.jpg);
	height:129px;
	clear:both;
	}
#footall{
	width:1000px;
	margin:0 auto;
	}
.tell{
	float:left;
	width:230px;
	margin-top:18px;
	margin-left:200px;
	display:inline;
	}
.tell img{
	float:left; padding-right:20px;
	}
.tell p{padding-top:8px;}
.copyright{
	float:left;
	margin-top:18px;
	margin-left:50px;
	}
.copyright p{ padding-top:5px;}
/*公共*/
.course-left,.course{
	float:left;
	width:700px;
	display:inline;
	}
.course-left p{ line-height:150%; text-indent:2em;}
#course-m-p{
	margin-top:20px;
	margin-left:20px;}
.content{
	float:left;
	}
span{ font-weight:bold;}

/*左侧部分*/
.c-t-left{ float:left;width:211px;}
.c-t-left2{ float:left;}
.about{ float:left;background:url(../images/about.jpg);width:211px; height:230px;}
.about p{ width:155px;margin-top:52px; margin-left:35px; line-height:200%; text-indent:2em;}
.pict{ float:left; margin-top:20px;margin-left:8px; display:inline;}
.quick-search{ float:left; background:url(../images/quick-search.jpg); width:146px; height:330px;}
.quick-search h3{ font-size:18px; margin:22px 0 0 35px; color:#6b2c24;}
.quick-search ul{ list-style:none; width:135px;text-align:center; margin-top:20px; margin-left:6px;}
.quick-search li{height:15px; padding:5px 0;border-bottom:1px solid #8d432c;}
/*右侧部分*/
.c-t-right{float:right;width:720px;background:#e4e3e3;padding:20px;}
#pro-right{ width:780px;}